---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro"; // Adjust this import based on your project structure

// Fetch the privacy policy content
const assureLicense = await getEntry("assure-license", "license");
const { Content } = await assureLicense.render();
const { title } = assureLicense.data;
---

<Layout title={title}>
  <div class="prose prose-lg overflow-visible p-14 mx-auto max-w-6xl">
    <Content />
  </div>
</Layout>
