---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-center mt-10">
    <div class="card w-[640px] bg-base-200 shadow-xl m-5">
      <div class="card-body">
        <h2 class="text-2xl font-bold text-center">Get a Quote</h2>
        <p class="text-center mb-5">
          Please fill out form and our agents will contract you as soon as
          possible
        </p>
        <form
          class="form-control space-y-6"
          action="https://getform.io/f/bolggqma"
          method="POST"
        >
          <label class="input input-bordered flex items-center gap-2">
            Name
            <input
              type="text"
              class="grow"
              placeholder="John Doe"
              name="name"
              required
              minlength="3"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Email
            <input
              type="email"
              class="grow"
              placeholder="example@email.com"
              name="email"
              required
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Phone
            <input
              type="tel"
              class="grow"
              placeholder="1234567890"
              name="tel"
              pattern="[0-9]*"
              inputmode="numeric"
              required
              minlength="10"
              maxlength="10"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Age
            <input
              type="number"
              class="grow appearance-none"
              placeholder="Number"
              name="age"
              pattern="[0-9]*"
              inputmode="numeric"
              required
              min="18"
              minlength="2"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Zip
            <input
              type="text"
              class="grow appearance-none"
              placeholder="Number"
              name="zip"
              pattern="[0-9]*"
              inputmode="numeric"
              required
              minlength="5"
            />
          </label>
          <textarea
            class="textarea textarea-lg textarea-bordered"
            placeholder="Your message here"
            name="message"
            required
            rows="6"></textarea>
          <input type="hidden" name="_gotcha" style="display:none !important" />
          <button type="submit" class="btn btn-primary w-full">Submit</button>
        </form>
      </div>
    </div>
  </div>
</Layout>
