---
import Layout from "../layouts/Layout.astro";
import HealthProvidersCard from "../components/HealthProvidersCard.astro";
import { getCollection } from "astro:content";

const healthProviders = await getCollection("health-providers");
---

<Layout>
  <div
    class="flex justify-center gap-8 max-sm:flex-col m-8"
  >
    <HealthProvidersCard healthProviders={healthProviders} />
  </div>
</Layout>
