---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
// 1. Generate a new path for every collection entry
interface Props {
  entry: CollectionEntry<"health-providers">;
}
export async function getStaticPaths() {
  const healthProvider = await getCollection("health-providers");

  return healthProvider.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <div class="prose prose-lg overflow-visible p-14 mx-auto max-w-6xl">
    <Content />
    <div class="mt-12 text-center">
      <a href="/get-quote" class="btn no-underline text-white btn-block btn-primary">
        GET A QUOTE
      </a>
    </div>
  </div>
</Layout>
