<section id="contact-us" class="card container bg-base-100 shadow-xl m-4">
    <div class="card-body">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <div>
          <h1 class="text-3xl font-semibold">Contact Us</h1>
        </div>
        <div class="space-y-4">
          <div class="flex flex-row items-center">
            <i class="fa-solid fa-map-marker-alt text-primary fa-lg mr-3"></i>
            <p class="font-normal break-words">Los Angeles, CA 90000</p>
          </div>
          <div class="flex flex-row items-center">
            <i class="fa-solid fa-phone-alt text-primary fa-lg mr-3"></i>
            <a href="tel:+18186878338" class="font-normal hover:underline hover:text-primary">818-687-8338</a>
          </div>
          <div class="flex flex-row items-center">
            <i class="fa-solid fa-envelope text-primary fa-lg mr-3"></i>
            <a href="mailto:assureguardinsurance@gmail.com" class="font-normal hover:underline hover:text-primary break-words">
              assureguardinsurance@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>