<footer
  class="footer bg-base-200 text-base-content rounded p-10 flex flex-col items-center lg:flex-row lg:justify-between lg:items-center border-t border-indigo-600"
>
  <aside class="text-center mb-6 lg:mb-0">
    <p>
      Copyright © {new Date().getFullYear()} - All right reserved by AssureGuard Insurance Services
    </p>
  </aside>
  <nav class="mb-6 lg:mb-0">
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" 
      rel="noopener noreferrer" href="https://www.facebook.com/AssureGuard" class="hover:text-blue-600 link">
        <i class="fa-brands fa-facebook fa-2xl"></i>
      </a>
      <a target="_blank" 
      rel="noopener noreferrer" href="https://x.com/AssureGuard" class="hover:text-blue-400 link">
        <i class="fa-brands fa-twitter fa-2xl"></i>
      </a>
      <a target="_blank" 
      rel="noopener noreferrer" href="https://www.instagram.com/AssureGuard" class="hover:text-pink-500 link">
        <i class="fa-brands fa-instagram fa-2xl"></i>
      </a>
      <a target="_blank" 
      rel="noopener noreferrer" href="https://www.linkedin.com/company/assureguard-insurance-services" class="hover:text-blue-600 link">
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
    </div>
  </nav>
  <nav class="grid grid-flow-col gap-4 text-center">
    <a class="link link-hover" href="/about-us">About us</a>
    <a class="link link-hover" href="/#contact-us" data-astro-reload>Contact</a>
    <a class="link link-hover" href="/privacy-policy">Privacy Policy</a>
    <a class="link link-hover" href="/assure-license">License</a>
  </nav>
</footer>