<div class="bg-gradient-to-r from-violet-600 to-indigo-600 fixed top-0 left-0 right-0 z-50 h-20">
  <div class="navbar container mx-auto w-full justify-between text-gray-200">
    <div class="flex-1 lg:flex-none pt-3">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <ul tabindex="0"
          class="menu menu-lg dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-64 p-2 shadow text-gray-300 bg-gradient-to-r from-violet-600 to-indigo-600">
          <li><a href="/">Home</a></li>
          <li><a href="/life-insurance">Life Insurance</a></li>
          <li><a href="/health-insurance">Health Insurance</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/get-quote" class="bg-primary p-3">Get Quote</a></li>
        </ul>
      </div>
    </div>
    <div class="flex-1 justify-center">
      <a class="btn btn-ghost" href="/">
        <img src="/nav-logo.svg" width={80} height={60} alt="assure guard logo" />
      </a>
    </div>
    <div class="flex-1 flex justify-end">
      <a href="tel:+18186878338" class="btn btn-ghost normal-case text-xl">
        <i class="fas fa-phone-alt mr-2 lg:text-lg text-2xl"></i>
        <span class="hidden sm:inline">818-687-8338</span>
      </a>
    </div>
    <div class="hidden lg:flex font-semibold">
      <ul class="menu menu-horizontal items-center px-1 text-base space-x-6">
        <li><a href="/">Home</a></li>
        <li><a href="/life-insurance">Life Insurance</a></li>
        <li><a href="/health-insurance">Health Insurance</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/get-quote" class="bg-primary p-3">Get Quote</a></li>
      </ul>
    </div>
  </div>
</div>