<div class="hero min-h-screen">
  <div class="hero-content flex-col">
    <div class="card container lg:card-side bg-base-100 shadow-xl m-4">
      <figure>
        <img
          src="/hero_cover.jpg"
          alt="health insurance cover"
          class="object-cover w-full h-full"
        />
      </figure>
      <div class="card-body lg:w-1/2">
        <h2 class="card-title">
          Comprehensive Health Insurance Plans for Your Well-being
        </h2>
        <p>
          Our health insurance plans offer extensive coverage for medical
          expenses, hospitalization, preventive care, and more. With a wide
          network of healthcare providers and flexible options, we ensure you
          and your family receive the best possible care when you need it most.
        </p>
        <div class="card-actions justify-center mt-3">
          <button class="btn btn-primary btn-wide">
            <a href="/health-insurance">Read More</a>
          </button>
        </div>
      </div>
    </div>
    <div class="card container lg:card-side bg-base-100 shadow-xl m-4">
      <figure>
        <img
          src="/hero-cover-2.jpg"
          alt="health insurance cover"
          class="object-cover w-full h-full"
        />
      </figure>
      <div class="card-body lg:w-1/2">
        <h2 class="card-title">
          Protect Your Loved Ones and Plan for the Future with Life Insurance
        </h2>
        <p>
          Our life insurance policies provide financial security for your family
          in case of the unexpected. Choose from term life insurance for
          specific obligations or whole life insurance that builds cash value
          over time. We also offer pension-style savings plans to help you save
          for retirement while enjoying life insurance benefits.
        </p>
        <div class="card-actions justify-center mt-3">
          <button class="btn btn-primary btn-wide">
            <a href="/life-insurance">Read More</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
